.input_paper {
  padding: 0px 2px;
  display: flex;
  align-items: stretch;

  & > button {
    align-items: end;
  }
}

.text_input {
  padding: 0;

  & > * {
    padding: 0;
  }
  & textarea {
    overflow-wrap: anywhere;
    word-break: break-all;
  }
}
