@use './button' as common_buttons;

.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 2vmin;
  flex-grow: 1;
}

.main_decoder {
  @extend .main;
  display: flex;
  gap: 5vmin;
  flex-direction: column-reverse;

  @media (orientation: landscape) and (max-height: 699px) {
    flex-direction: row-reverse;
  }

  & > * {
    flex-grow: 1;
    flex-basis: 20vh;
  }
}

.buttons_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
  gap: 5vmin;

  & > * {
    @include common_buttons.button;
  }
}

.inputs_box {
}

.results_box {
  justify-content: space-between;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 4;

  & > * {
    margin-bottom: 0.2em;
    overflow-wrap: anywhere;
    word-break: break-all;

    & > p {
      text-transform: uppercase;
      font-family: 'DejaVu Sans Mono', 'ui-monospace', 'monospace', 'monospace';
    }
  }
}
