@use './button' as common_buttons;

@function translate-media-condition($c) {
  $condMap: (
    'landscape_mode': '(orientation: landscape) and (max-height: 699px)',
  );
  @return map-get($condMap, $c);
}

// See https://css-tricks.com/approaches-media-queries-sass/
@mixin media($args...) {
  $query: '';
  @each $arg in $args {
    $op: '';
    @if ($query != '') {
      $op: ' and ';
    }
    $query: $query + $op + translate-media-condition($arg);
  }
  @media #{$query} {
    @content;
  }
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 2vmin;
  flex-grow: 1;
}

.main_decoder {
  @extend .main;
  display: flex;
  gap: 2vmin;
  flex-direction: column-reverse;

  @include media('landscape_mode') {
    flex-direction: row-reverse;
  }
}

.buttons_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
  gap: 5vmin;

  & > * {
    @include common_buttons.button;
  }
}

.inputs_box {
  flex-grow: 0;
  display: flex;
  align-items: center;
}

.results_box {
  display: flex;
  flex-grow: 1;
  flex-basis: calc(50vh - 56px); // 56px is min height of header
  justify-content: space-between;
  align-items: stretch;
  flex-direction: column;
  overflow: auto;

  & > * {
    margin-bottom: 0.2em;
    overflow-wrap: anywhere;
    word-break: break-all;
  }
}

.result_cases {
  overflow: auto;
  & > div {
    margin-bottom: 2px;

    & > p:first-child {
      font-size: x-small;
    }

    & > p:nth-child(2) {
      margin-bottom: 0;
      line-height: 1;

      & > p {
        text-transform: uppercase;
        font-family: 'DejaVu Sans Mono', 'ui-monospace', 'monospace',
          'monospace';
        line-height: 1;
      }
    }
  }
}
