.variant_output_only_result_boxes {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  background-color: var(--muiPaletteBackgroundPaper);

  & > div {
    min-width: 100%;
    display: inline-block;

    & > div {
      display: block;
      margin-bottom: 0.4em;
      padding: 0 1vmin;

      & > p:first-child {
        font-size: small;
      }

      & > p:nth-child(2) {
        margin-bottom: 0;
        line-height: 1;

        & > span {
          text-transform: uppercase;
          font-family: 'DejaVu Sans Mono', 'ui-monospace', 'monospace',
            'monospace';
          line-height: 1;
        }
      }
    }
  }
}
