@use 'common/layout.module' as common_layout;

.braille_button {
  & > p {
    position: absolute;
    line-height: 1;
    font-weight: bold;
    font-size: max(40px, 5vmin);
  }

  & > svg {
    width: 90%;
    height: 90%;
    min-width: 80px;
    min-height: 80px;
    @include common_layout.media('landscape_mode') {
      min-width: 70px;
      min-height: 70px;
    }
  }
}

.buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  gap: 2vmin;
  justify-content: center;

  & > * {
    min-width: 80px;
    min-height: 80px;

    @media (orientation: landscape) {
      height: 13vmin;
      width: 13vmin;
      max-width: 120px;
      max-height: 120px;
    }
    @media (orientation: portrait) {
      height: 25vmin;
      width: 25vmin;
      max-width: min(13vh, 120px);
      max-height: min(13vh, 120px);
    }
  }
}
