@use 'common/media_condition.module' as media_condition;

.braille_button {
  & > p {
    position: absolute;
    line-height: 1;
    font-weight: bold;
    font-size: max(40px, 5vmin);
  }

  & > svg {
    width: 90%;
    height: 90%;
    min-width: 80px;
    min-height: 80px;
    @include media_condition.media('landscape_mode') {
      min-width: 70px;
      min-height: 70px;
    }
  }

  & * {
    pointer-events: none;
  }
}

.braille_button_left {
  @extend .braille_button;
  margin-left: var(--brailleButtonGap);
}

.buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  gap: 2vmin;
  justify-content: center;
  touch-action: none;

  & > * {
    height: var(--brailleButtonSize);
    width: var(--brailleButtonSize);
  }
}

.result_item {
  width: var(--brailleInputCharWidth);
}

.result_input_char {
  height: var(--brailleInputCharHeight);
  font-size: var(--brailleInputCharFontSize);
  font-family: 'DejaVu Sans Mono', 'ui-monospace', 'monospace', 'monospace';
}
