.braille_button {
  width: auto;
  height: auto;
  min-width: 100px;
  min-height: 100px;
}

.braille_button > p {
  position: absolute;
  line-height: 1;
  font-weight: bold;
  font-size: max(40px, 10vmin);
}

.braille_button > svg {
  width: 20vmin;
  height: 20vmin;
  min-width: 80px;
  min-height: 80px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  max-width: 800px;
  margin: 0 auto;
  gap: 2vmin;
  align-items: flex-end;
  flex-direction: column;
}

.buttons > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  gap: 2vmin;
}
.current_char {
  font-size: max(40px, 10vmin);
  line-height: 1;
  font-weight: bold;
}
