@use 'common/layout.module' as common_layout;

.braille_button {
  & > p {
    position: absolute;
    line-height: 1;
    font-weight: bold;
    font-size: max(40px, 5vmin);
  }

  & > svg {
    width: 90%;
    height: 90%;
    min-width: 80px;
    min-height: 80px;
    @media (orientation: landscape) and (max-height: 699px) {
      min-width: 70px;
      min-height: 70px;
    }
  }
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  grid-gap: 2vmin;

  & > * {
    width: auto;
    height: auto;
    min-width: 80px;
    min-height: 80px;
    max-width: max(min(30vmin, 20vw), 160px);
    max-height: max(min(30vmin, 20vh), 160px);
  }
}
