@use 'common/media_condition.module' as media_condition;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

html {
  touch-action: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* CSS variables */
:root {
  --muiPalettePrimaryMain: #33b5e1;
  --muiPaletteResultMain: #eeeeee;
  --muiPaletteWarningMain: #ff3333;
  --muiPaletteBackgroundPaper: #303030;
  --morseInputCharWidth: clamp(10px, 2.5vmin, 20px);
  --morseInputCharHeight: calc(1.66 * var(--morseInputCharWidth));
  --morseInputCharFontSize: calc(0.9 * var(--morseInputCharHeight));
  --morseInputCharJoinerHeight: clamp(3px, 0.5vmin, 5px);
  --morseOutputCharHeight: calc(2 * var(--morseInputCharHeight));
  --morseOutputCharFontSize: calc(2 * var(--morseInputCharFontSize));
  --morseInputCharGap: 2px; /* if the value is not rounded to 1px, gap widths are different, that looks bad */
  --morseLineGap: clamp(5px, 2vmin, 10px);
  --brailleButtonSize: clamp(80px, 25vmin, min(13vh, 120px));
  --brailleButtonGap: calc(0.7 * var(--brailleButtonSize));
  --morseVariantButtonSize: calc(
    var(--morseInputCharHeight) + var(--morseInputCharJoinerHeight) +
      var(--morseOutputCharHeight)
  );
}

@media (min-width: 500px) and (min-height: 500px) {
  :root {
    --morseInputCharGap: 3px;
  }
}
@media (min-width: 700px) {
  :root {
    --morseInputCharGap: 4px;
  }
}
@media (min-width: 1000px) {
  :root {
    --morseInputCharGap: 5px;
  }
}

@include media_condition.media('landscape_mode') {
  :root {
    --brailleButtonSize: clamp(80px, 13vmin, 120px);
  }
}
