html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow: hidden;
}

html {
  touch-action: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* CSS variables */
:root {
  --morseInputCharWidth: clamp(10px, 2.5vmin, 20px);
  --morseInputCharHeight: calc(1.66 * var(--morseInputCharWidth));
  --morseInputCharFontSize: calc(0.9 * var(--morseInputCharHeight));
  --morseOutputCharHeight: calc(2 * var(--morseInputCharHeight));
  --morseOutputCharFontSize: calc(2 * var(--morseInputCharFontSize));
  --morseInputCharGap: 2px; /* if the value is not rounded to 1px, gap widths are different, that looks bad */
  --morseLineGap: clamp(5px, 2vmin, 10px);
}
