@use 'common/button.module' as common_buttons;
@use 'common/media_condition.module' as media_condition;

.buttons_box {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 auto;
  gap: 2vmin;
  justify-content: space-evenly;
  align-items: center;

  @include media_condition.media('landscape_mode') {
    flex-direction: column;
  }

  & > * {
    @include common_buttons.button;
    height: 25vmin;
    width: 25vmin;
    min-width: 80px;
    min-height: 80px;
    max-width: 120px;
    max-height: 120px;

    & > p {
      font-size: max(65px, 400%);
    }
    & > svg {
      min-width: 60px;
      min-height: 60px;
    }
  }
}

.result_item {
  width: var(--morseInputCharWidth);
}

.result_input_char {
  height: var(--morseInputCharHeight);
  font-size: var(--morseInputCharFontSize);
}

.result_cases {
  & > div {
    padding-right: var(--morseInputCharWidth);
  }
}
