.main {
  padding: clamp(4px, 1vmin, 10px);
  display: flex;
  flex-direction: column;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.table {
  & > div {
    width: fit-content;
  }
}

.row {
  & > td {
    padding: 3px;
  }
}

.morse_cell {
  color: var(--muiPaletteResultMain);
  fill: var(--muiPaletteResultMain);
  stroke: var(--muiPaletteResultMain);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(4 * var(--morseInputCharWidth));
}
