@use 'common/input.module' as input_layout;
@use 'common/media_condition.module' as media_condition;

@mixin semaphore_button_mixin {
  position: absolute;
  display: block;
  height: 25%;
  width: 25%;
  padding: 0;
  touch-action: none;

  & > p {
    display: none;
  }

  & > svg {
    width: 100%;
    height: 100%;
  }
  & * {
    pointer-events: none;
  }
}

.semaphore_button_1 {
  top: calc(100% - 12.5%);
  left: 50%;
  transform: translate(-50%, -50%);
  @include semaphore_button_mixin;
}

.semaphore_button_2 {
  top: calc(75% * 0.85 + 12.5%);
  left: calc(75% * 0.15 + 12.5%);
  transform: translate(-50%, -50%);
  @include semaphore_button_mixin;
}

.semaphore_button_3 {
  top: 50%;
  left: 12.5%;
  transform: translate(-50%, -50%);
  @include semaphore_button_mixin;
}

.semaphore_button_4 {
  top: calc(75% * 0.15 + 12.5%);
  left: calc(75% * 0.15 + 12.5%);
  transform: translate(-50%, -50%);
  @include semaphore_button_mixin;
}

.semaphore_button_5 {
  top: 12.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include semaphore_button_mixin;
}

.semaphore_button_6 {
  top: calc(75% * 0.15 + 12.5%);
  left: calc(75% * 0.85 + 12.5%);
  transform: translate(-50%, -50%);
  @include semaphore_button_mixin;
}

.semaphore_button_7 {
  top: 50%;
  left: calc(100% - 12.5%);
  transform: translate(-50%, -50%);
  @include semaphore_button_mixin;
}

.semaphore_button_8 {
  top: calc(75% * 0.85 + 12.5%);
  left: calc(75% * 0.85 + 12.5%);
  transform: translate(-50%, -50%);
  @include semaphore_button_mixin;
}

.semaphore_button_circle_focused {
  position: absolute;
  opacity: 0.5;
}

.semaphore_hand_selected {
  stroke-width: 4;
  stroke-linecap: round;
}

.semaphore_hand_focused {
  @extend .semaphore_hand_selected;
  opacity: 0.5;
}

.semaphore_buttons_box {
  display: compact;
  margin: 0 auto;
  gap: 2vmin;
  position: relative;

  justify-content: space-evenly;
  align-items: center;
  width: 42vh;
  height: 42vh;
  @include media_condition.media('landscape_mode') {
    width: min(calc(90vh - 56px), 40vw);
    height: min(calc(90vh - 56px), 40vw);
  }
}

@font-face {
  font-family: 'EnigmailedSemaphore';
  src: url('fonts/EnigmailedSemaphore-Regular.ttf') format('truetype');
}

.text_input {
  @include input_layout.text_input_mixin;
  & textarea {
    font-family: 'EnigmailedSemaphore';
    font-size: x-large;
  }
}
